<html>
  <head>
    
  </head>
  <body>
    
    <h1 align="center" >This is the Home Page</h1>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %> 
    <div style="text-align: center"><%= image_tag 'PastedGraphic-3.png'%></div>
    
    <div style="wdith:800px;"
      <div style="float:left; border-style:solid; border-right-style:solid;">
      My Column 1
      </div>
      <div style="float:right;width:250px;">
        <div style="float:left;">
          My Column 2
        </div>
      </div>
    </div>

  </body>
  
</html>